body, html { margin:0; padding:0; font-family: 'Lucida Grande',Verdana,sans-serif; }
body { background-color: #F0F0EE; }

a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:visited { color: #003399; }
a:link { color: #0066CC; }

h1 { font-size: 175%; }
h2 { font-size: 145%; }

#header { -moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em; background-color: #333333; }
#header h1 { font-size: x-large; margin: 0; padding: 0.2em 1em; }
#header h1 a, #header h1 a:visited { color: white; }
#header p { font-size: small; margin: 0; padding: 0; color: white; }

#content { background-color: #FFFFFF; border: 1px solid #CCCCCC; text-align: justify; padding: 0.25em 1.5em 0.5em 1em; }
#content ul { list-style: none; }

#menu { text-align: right; }
#menu h2 { margin-top: 0; }
#menu ul { list-style-type: none; }
#menu li a { display: block; }

#footer { clear:both; padding:5px 10px; border-style: solid; border-color: gray; border-width: 1px 0 0; }
#footer p { text-align: right; font-size: small; margin: 0; }
#footer a { text-decoration: none; }
#footer a:hover { color: black; }
