body, html { margin:0; padding:0; font-family: 'Lucida Grande',Verdana,sans-serif; }
body { background-color: #F0F0EE; }

a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:visited { color: #003399; }
a:link { color: #0066CC; }

h1 { font-size: 175%; }
h2 { font-size: 145%; }

#top {
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    background-color: #333333;
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px;
    margin-bottom: 40px;
}

#top h1 {
    font-size: xx-large;
    margin: 0;
    padding: .2em 1em;
}

#top h1 a, #top h1 a:hover {
    color: white;
}

#header {
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    background-color: #333333;
    border-top-left-radius: 15px
    border-top-right-radius: 15px;
    text-align: center;
}

#header h1 {
    font-size: x-large;
    margin: 0;
    padding: 0.2em 1em;
    color: white;
}

#header h1 a, #header h1 a:visited { color: white; }
#header p { font-size: small; margin: 0; padding: 0; color: white; }

#content {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-width: 0 1px;
    padding: 0.25em 1.5em 0.5em 1.5em;
    text-align: justify;
}

#content ul { list-style: none; }

#menu { text-align: right; }
#menu h2 { margin-top: 0; }
#menu ul { list-style-type: none; }
#menu li a { display: block; }

#footer {
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    background-color: #333;
    color: white;
    padding: 1em;
}

#footer p {
    text-align: center;
    font-size: x-small;
    margin: 0;
}

#footer a, #footer a:hover {
    text-decoration: none;
}
